*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor__title{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: blueviolet;
    padding: 2em;
    font-family: Arial;
    /* box-shadow: 0px 23px 82px 0px rgba(168,103,168,1); */
}

.title{
    font-size: 1.8em;
}

.subtitle{
    font-weight: 800;
    font-size: 0.9em;
}

.contenido__title{
    color: blueviolet;
}

.contenedor__titulos{
    background-color:  #141448 ;
    color: white;
    padding: 1em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5em;
    margin-top: -45px;
    z-index: 100;
}

.contenedor__contenido{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    text-align: justify;
}
.footer{
    background-color: rgb(90, 41, 136);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em;
    margin-top: 3em;
    box-shadow: 0px 23px 82px 0px rgba(168,103,168,1);
}

.list{
    display: flex;
    justify-content: space-around;
}

.list__item{
    list-style-type: none;
    
}

.list__link{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s linear;
}

.list__link:hover{
    color: rgb(145, 145, 145);
}

.contenido{
    line-height: 1.5;
    padding: 0.5em 1.5em;
}

.img{
    margin-left: -66px;
    width: 150%;
}

.contenedor__img{
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    z-index: -100;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 82%);
}