*{
    margin: 0;
}

body{
    text-align: center;
    color: blueviolet;
}

h1{
    margin-top: 1em;
    transition: background-color 0.6s linear;
}

h1:hover{
    background-color: cadetblue;
}

.footer{
    background-color: rgb(90, 41, 136);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em;
    margin-top: 3em;
}

.list{
    display: flex;
    justify-content: space-around;
}

.list__item{
    list-style-type: none;
    
}

.list__link{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s linear;
}

.list__link:hover{
    color: rgb(145, 145, 145);
}